/* Overall styling for the HTML body */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

/* Styling for the page title */
h1 {
    color: #333;
    text-align: center;
    margin-top: 8px;
    font-size: 30px;
}

/* Styling for the "Start Game" button */
#start-button {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: lightblue;
    border-radius: 10px;
}
/* Styling for the game logo */
.logo {
    background-image: url(../image/logo.png);
    background-color: rgb(129, 207, 240);
    background-repeat: no-repeat;
    background-size: 368px;
    background-position: center;
    box-sizing: border-box;
    width: 40%;
    height: 43vh;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 35px;
    box-shadow: 5px 5px 5px 5px black;
}
/* Styling for the game section */
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Styling for the game score display */
#score {
    font-size: 24px;
    margin-bottom: 20px;
}
/* Styling for the user information section */
#user-info {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    padding: 10px;
}

/* Styling for the username input field */
#username {
    padding: 10px;
    font-size: 15px;
}

/* Styling for the "Start Game" button */
#start-button {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: lightblue;
    border-radius: 10px;
}

/* Highlight "Start Game" button on hover */
#start-button:hover {
    background-color: lightblue;
    color: white;
}
User

/* Styling for game choices (rock, paper, scissors, lizard, spock) */
.choice {
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Highlight choice on hover */
.choice:hover {
    background-color: lightblue;
    color: white;
}

/* Styling for the game choices (rock, paper, scissors, lizard, spock) */
.options {
    display: flex;
    justify-content: space-around;
    margin: 40px;
} 
/* Styling for the game result message */
#result {
    font-size: 20px;
    margin-top: 40px;
}

/* Styling for the restart button */
#restart {
    font-size: 30px;
    margin-top: 10px;
    background-color: lightblue;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
}

/* Highlight restart button on hover */
#restart:hover {
    background-color: lightblue;
    color: white;
}
/* Responsive design for small screens (max-width: 768px) */
@media (max-width: 768px) {
    .choice {
        padding: 10px 15px;
        font-size: 24px;
    }
}