/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Asterisk wildcard selector to override default styles added by the browser */ 
* {
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
} 
/* Overall styling for the HTML body */
body {
    text-align: center;
    font-family: 'Playfair Display', serif;
    background-color: lightgray;
}

/* Styling for the page title */
h1 {
    color: #333;
    text-align: center;
    margin-top: 8px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

/* Styling for the game logo */
.logo {
    background-image: url(../image/logo.webp);
    background-repeat: no-repeat;
    background-size: 368px;
    background-position: center;
    box-sizing: border-box;
    width: 40%;
    height: 43vh;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 35px;
    box-shadow: 5px 5px 5px 5px black;
}
/* Styling for the game section */
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Styling for the game score display */
#score {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}
/* Styling for the user information section */
#user-info {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    padding: 10px;
}
/* Styling for the user section */
#user-section {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

/* Styling for the username input field */
#username {
    padding: 10px;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}

/* Styling for the "Start Game" button */
#start-button {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    background-color:rgb(129, 207, 240);
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
}

/* Highlight "Start Game" button on hover */
#start-button:hover {
    background-color: lightblue;
    color: white;
}

/* Styling for game choices (rock, paper, scissors, lizard, spock) */
.choice {
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Playfair Display', serif;
}

/* Highlight choice on hover */
.choice:hover {
    background-color: lightblue;
    color: white;
}

/* Styling for the game choices (rock, paper, scissors, lizard, spock) */
.options {
    display: flex;
    justify-content: space-around;
    margin: 40px;
} 
/* Styling for the game result message */
#result {
    font-size: 20px;
    margin-top: 40px;
    font-family: 'Playfair Display', serif;
}

/* Styling for the restart button */
#restart {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(129, 207, 240);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
}

/* Highlight restart button on hover */
#restart:hover {
    background-color: lightblue;
    color: white;
}

/* Responsive design for small screens (max-width: 768px) */
@media (max-width: 768px) {
    .choice {
        padding: 10px 15px;
        font-size: 24px;
    }
}
/* Responsive design for smaller screens (max-width: 480px) */
@media (max-width: 480px) {
    .choice {
        padding: 5px 10px;
        font-size: 18px;
    }
} 
